*,
body {
  margin: 0;
  padding: 0;
}


body {
  background-color: $black;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 12px;
  line-height: 1.333333333;
  @include bp(xs) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.default-layout {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  @include s(gap);
  @include s(padding);

  @include bp(lg) {
    flex-direction: row;
  }
}

main {
  @include bp(lg) {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}

.green-border {
  border-radius: 16px;
  background-color: $black;
  box-shadow: 0px 0px 1px 1px $green, inset 0px 0px 1px 1px $green;
  filter: blur(.5px);
  @include bp(xs) {
    border-radius: 24px;
    box-shadow: 0px 0px 2px 2px $green, inset 0px 0px 2px 2px $green;
  }
  @include bp(md) {
    border-radius: 32px;
    box-shadow: 0px 0px 4px 4px $green, inset 0px 0px 4px 4px $green;
    filter: blur(1px);
  }
}

.page-content {
  overflow: scroll;
}

body::before {
  content: "";
  top: 0;
  position: fixed;
  width: 100vw;
  height: 32px;
  background-color: $black;
  box-shadow: 0 8px 32px 8px $black;

  @include bp(md) {
    height: 56px;
    box-shadow: 0 8px 32px 32px $black;
  }
}

main::after {
  content: "";
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: $black;
  box-shadow: 0 24px 32px 32px $black;

  @include bp(md) {
    box-shadow: 0 24px 32px 32px $black;
  }
}


.page-enter-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}