*,
body {
  margin: 0;
  padding: 0;
}


body {
  background-color: $black;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 12px;
  line-height: 1.333333333;
  @include bp(xs) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.default-layout {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  @include s(gap);
  @include s(padding);

  @include bp(lg) {
    flex-direction: row;
  }
}

main {
  display: flex;
  flex-direction: column;
  @include s(gap);
  @include bp(lg) {
    flex: 1;
    min-width: 0;
  }
}

.green-border {
  background: $black;
  @include rounded;
  @include shadow-border($green);
  filter: blur(.5px);
  @include bp(md) {
    filter: blur(1px);
  }
}

.page-content {
  overflow: scroll;
}

body::before {
  content: "";
  top: 0;
  position: fixed;
  width: 100vw;
  height: 32px;
  background-color: $black;
  box-shadow: 0 8px 32px 8px $black;

  @include bp(md) {
    height: 56px;
    box-shadow: 0 8px 32px 32px $black;
  }
}

main::after {
  content: "";
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: $black;
  box-shadow: 0 24px 32px 32px $black;

  @include bp(md) {
    box-shadow: 0 24px 32px 32px $black;
  }
}

.page-exit-active,
.page-enter-active {
  transition: opacity 1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

@keyframes pulse {
  from {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
  to {
    transform: scale(.6);
    filter: blur(6px);
    opacity: .6;
  }
}

.scrollbar {
  @include s(width);
  position: sticky;
  top: 24px;
  height: calc(100vh - 48px);
  @include shadow-border($blue)
}